body {
	background-image: url("../images/BlurredBackground.png");
	background-color: DodgerBlue;
	background-size: 100% auto;
}

#init_div, #signup_div {
	width:35%;
	height:width;
	background: #EEEEEE;
	transform: translateY(10%);
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px 60px;
	border-radius: 5px;
}
		
#lobby_div {
	width: 100%;
	height: 100%;
	background: #EEEEEE; 
	box-sizing: border-box;
	padding: 20px 60px;
	border-radius: 5px;
}

button {
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	opacity: .9;
}
		
.signOutButton {
	background-color: #0095F0;
	position: absolute;
	top: 10px;
	right: 20px;
}

.loginButton {
	background-color: #4CAF50;
	width: 40%;
}

.signupButton {
	background-color: #0095F0;
	width: 40%;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
}
		
.inputP {
	color: #222222;
	font-family: "Serif"
	display: block;
	width: 20%;
	font-size: 115%;
}

.divider {
	height: 4px;
	width: 100px;
	display: inline-block;
}

.serverPickText {
	position: absolute;
	top: 26%;
	left: 40%;
	width: 20%;
}
		
.serverHolder, .playerListHolder {
	position: relative;
	top: 15%;
	left: 30%;
	width: 40%;
	height: 50%;
	overflow: auto;
	background: #BBBBBB;
	border-radius: 5px;
}

.server, .playerPart {
	position: relative;
	top: 4px;
	left: 4px;
	right: 4px;
	width: calc(100% - 8px);
	height: 60px;
	background: #FFFFFF; 
	box-sizing: border-box;
	border-radius: 3px;
}

.serverName, .playerName {
	position: absolute; 
	left: 5%; 
	top: 5%;
}

.playerCount {
	position: absolute;
	left: 40%;
	top: 5%;
	width: 20%;
}

.playButton {
	position: absolute; 
	right: 2%;
	width: 20%;
	background-color: #4CAF50;
}

.createGameButton, .startGameButton {
	position: absolute;
	left: 42.5%;
	top: 80%;
	width: 15%;
	background-color: #FFAA00;
}

.playerListHolder {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 25%;
}

.playerType {
	position: absolute; 
	right: 2%;
	width: 20%;
	background-color: #27B70B;
}
